<%= form_with(model: [@circuit, @track], local: true) do |form| %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :location %>
    <%= form.collection_radio_buttons :location, Track::LOCATIONS, :to_s, :titleize do |b| %>
      <%= b.radio_button %>
      <%= b.label %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>