<%= form_with model: circuit do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% circuit.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :opened %><br>
    <%= form.select :opened, (Date.today.year.downto(1960)).to_a, { prompt: "Select year" }, { name: 'circuit[opened]' } %>
  </div>

  <div>
    <%= form.label :website %><br>
    <%= form.text_field :website %>
  </div>

  <div>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
    <% circuit.errors.full_messages_for(:address).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <h5>Add a track</h5>
    <%= form.fields_for :tracks do |circuit_track| %>
      <div>
        <%= circuit_track.label :name %>
        <%= circuit_track.text_field :name %>
      </div>

      <div>
        <%= circuit_track.label :location %>
        <%= circuit_track.collection_radio_buttons :location, Track::LOCATIONS, :to_s, :titleize do |b| %>
          <%= b.radio_button %>
          <%= b.label %>
        <% end %>
      </div>
    <% end %>
  </div>


  <div>
    <%= form.submit %>
  </div>

<% end %>