<%= form_with model: circuit do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% circuit.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :opened %><br>
    <%= form.date_field :opened %>
  </div>

  <div>
    <%= form.label :website %><br>
    <%= form.text_field :website %>
  </div>

  <div>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
    <% circuit.errors.full_messages_for(:address).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>