<h4>Welcome to</h4>
<h1><%= @circuit.name %></h1>
<h5>Since <%= @circuit.opened %></h5>

<p><%= @circuit.address %></p>
<p><%= @circuit.website %></p>

<p><%= @circuit.description %></p>

<p><%= link_to "add another track", new_circuit_track_path(@circuit) %></p>

<h5>Tracks</h5>
<% @circuit.tracks.each do |track| %>
  <p>
    <b>name:</b> <%= link_to track.name, track %><br>
    <b>environment:</b> <%= track.location %>
  </p>
<% end %>

<ul>
  <li><%= link_to "Edit Circuit", edit_circuit_path(@circuit) %></li>
  <li><%= link_to "Delete Circuit", circuit_path(@circuit), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
            } %></li>
</ul>

<p>
  <%= link_to "Circuits", circuits_path %><br>
  <%= link_to "Home", root_path %>
</p>
