<div>
  <h2>This is your profile page, <%= current_user[:nickname] %></h2>
  <p>Go back <%= link_to "home", root_path %></p>
  <h4>User account information:</h4>
  <table>
    <tr><td><%= image_tag("#{current_user[:picture]}") %></td><td>Name: <%= current_user[:name] %></td></tr>
    <tr><td></td><td>Nickname: <%= current_user[:nickname] %></td></tr>
    <tr><td></td><td>Email: <%= current_user[:email] %></td></tr>
  </table>
  <p>
    Full profile info:<br>
    <%= JSON.pretty_generate(current_user) %>
  </p>
</div>